@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.btn {
  cursor: pointer;
}
body {
  color: #fff8e6;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 40px 0px;
}
.clicked {
  color: #1cacb6;
}
.form,
.grettings {
  display: none;
  color: #fff8e6;
  font-size: 20px;
  margin-bottom: 20px;
}
.showing {
  display: block;
}
.js-clock {
  font-size: 50px;
  color: #fff8e6;
}
.js-form {
  font-size: 20px;
  color: #fff8e6;
}
input[type="text"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 20px Arial, Helvetica, sans-serif;
  height: 45px;
  color: inherit;
}

input::placeholder {
  color: inherit;
}
.js-toDoList {
  font-size: 20px;
  list-style: none;
}

.js-toDoList > li button {
  background-color: inherit;
  border: none;
  height: 30px;
  cursor: pointer;
  position: relative;
  transition: 800ms ease all;
  margin-right: 10px;
}
.js-toDoList > li button:hover {
  background: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.js-toDoList > li {
  animation: fadeIn 0.5s linear;
}
